:root {

--primary: #ce8557;
--secondary: rgb(189, 133, 43);
--paper: #dcc5f5ff;
--magenta: #f1ebf1ff;
--purple: rgb(24, 4, 53);
}



.primary-color {
  color: var(--primary);
}

.secondary-color {
  color: var(--secondary);
}

.paper-color {
  color: var(--paper);
}

.magenta-color {
  color: var(--magenta);
}

.purple-color {
  color: var(--purple);
}


.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
}

.paper-bg {
  background-color: var(--paper);
}

.magenta-bg {
  background-color: var(--magenta);
}

.purple-bg {
  background-color: var(--purple);
}


* {
  box-sizing: border-box;
}



/* for nav and general styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--magenta);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--purple);
}


.border-style-1 {
    border: 1.5px solid var(--purple);
    border-radius: 5px;

  }
.border-style-2 {
    border: 1.5px solid var(--primary);
    border-radius: 5px;
}